<div class="col-lg-12">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Ex. name"
      #input
    />
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let column of columns"
      matColumnDef="{{ column.column }}"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{
        column.title
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element[column.column] }}
        <div
          class="btn-group btn-group-toggle"
          data-toggle="buttons"
          *ngIf="column.column === 'actions'"
        >
          <label class="btn btn-primary" *ngIf="getUpdatePermission()"
            ><input type="radio" (click)="sendAction('edit', element)" /> Edit
          </label>
          <label class="btn btn-secondary" *ngIf="getSelectPermission()"
            ><input type="radio" (click)="sendAction('select', element)" />
            Details
          </label>
          <label class="btn btn-danger" *ngIf="getDeletePermission()"
            ><input type="radio" (click)="sendAction('delete', element)" />
            Delete
          </label>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsObject"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsObject"></mat-row>
  </mat-table>
  <div class="col-lg-12" style="text-align: center;" *ngIf="isEmpty">
    <span> No data matching the filter "{{ input.value }}" </span>
  </div>
  <cine-table-paginator
    [dataSource]="dataSource"
    [isPaginate]="isPaginate"
    [dataLength]="dataLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (paginatorAction)="paginatorAction($event)"
  ></cine-table-paginator>
</div>
