<div>
  <div class="col-lg-12" style="text-align: left;">
    <h2>List of {{ tableName }}</h2>
  </div>
  <div
    class="col-lg-12"
    style="text-align: right;"
    *ngIf="getCreatePermission()"
  >
    <button type="button" class="btn btn-outline-primary">
      Create
    </button>
  </div>
  <hr class="my-4" />
  <table class="table" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ApiCode</th>
        <th scope="col">Year</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films">
        <th scope="row">{{ film.id }}</th>
        <td>{{ film.name }}</td>
        <td>{{ film.apiCode }}</td>
        <td>{{ film.year }}</td>
        <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary" *ngIf="getUpdatePermission()"
              ><input type="radio" /> Edit
            </label>
            <label class="btn btn-secondary" *ngIf="getSelectPermission()"
              ><input type="radio" /> Details
            </label>
            <label class="btn btn-danger" *ngIf="getDeletePermission()"
              ><input type="radio" /> Delete
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
